<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
    <div class="full-body flex-center">
        <div class="signupbox signupbox-home flex-center">
            <h2 class="pointer">के खान आइस रे ?</h2>
            <h2 class="pointer">बाहुन काे खसी खान आकाे हाे ?</h2>
            <h2 class="pointer">मुजि बाहुनले मरेकाे कुकुर ल्याकाे रैछ | | |</h2>
            <a href="{% url 'logout'%}" class="signup-btn pointer">फर्कि मुजि</a>
        </div>
    </div>
</body>
</html>